.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  text-align: center;
}
.subtitle {
  text-align: center;
  font-style: italic;
}
.data {
  display: flex;

  width: 60%;
}

.data .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.field {
  flex: 1 0 50%;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.field .icon {
  align-self: center;
  padding: 0 20px;
}
.field .label {
  text-transform: uppercase;
  font-weight: bold;
}
