.payrolls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content > * {
  flex: 1 0 33%;
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 10px;
}
.icon.ok {
  color: green;
}
.icon.pending {
  color: orange;
}
